html, body {
    height:100%;
    margin:0;
    padding: 0;
    overflow: hidden;
}

.app
{
    height: 100%; 
}

.left
{
    background: lightgoldenrodyellow;
}

.right
{
    background: lightblue;
    clear: both;
    display: block;
    content: '';
    float: none;
} 

#vertical {
    height: 100%;
    margin: 0 auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

.toolbar_item {
    display: block;
    float: left;
    margin-right: 10px;
}

.toolbar_buttons {
    margin-top: 18px;
}